* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  margin: 0;
  background-color: #212121;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.app {
  display: flex;
  width: 652px;
  height: 360px;
}
input {
  width: 100%;
  border: 1px solid #8d8daa;
  border-radius: 12px;
  box-sizing: border-box;
  color: #93b5c6;
  font-size: 16px;
  height: 40px;
  background-color: transparent;
}
.output,
.input {
  display: flex;
  flex-direction: column;
  width: 300px;
}
textarea {
  background-color: transparent;
  color: #dfdfde;
  border: none;
  resize: none;
  padding: 18px;
  height: 146px;
  border-radius: 12px;
  outline: none;
  overflow: auto;
  font-size: 20px;
  margin-top: 10px;
}
.output textarea {
  background-color: #444444;
}
.select-down .down-pointer svg {
  position: relative;
  left: 265px;
  top: -33px;
  width: 26px;
  height: 26px;
  fill: #8d8daa;
}
.select-down input {
  padding: 5px 15px;
  font-size: 15px;
  color: #548ca8;
}
.directContainer {
  padding: 18px;
}
.directContainer svg {
  width: 28px;
  height: 28px;
  fill: #8d8daa;
}
.list {
  width: 100%;
}
.search-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.search-tab input {
  background: url(https://www.gstatic.com/images/icons/material/system/2x/search_grey600_24dp.png)
    right 8px center no-repeat;
  background-size: 26px 24px;
  padding-left: 16px;
  padding-right: 40px;
  width: 90%;
  outline: none;
}
.search-tab .btn-close svg {
  width: 30px;
  height: 30px;
  padding: 6px;
  fill: #8d8daa;
}
.option-container {
  height: 250px;
  overflow: auto;
}
.list-languages ul {
  margin: 15px;
  padding: 0;
  height: 1300px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.list-languages li {
  color: #bdc1c6;
  font-size: 14px;
  padding: 8px;
  list-style-type: none;
  border-radius: 4px;
}
.list-languages li:hover {
  background-color: #5a5a5d;
}
.button-container {
  color: #212121;
  padding: 12px;
  height: 25px;
}
.input .delete {
  position: relative;
  left: 240px;
  top: -205px;
  font-size: 30px;
  color: #da0037;
  width: 28px;
  height: 28px;
}
